/* search bar: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_search_button */
*{
	margin:0;
	padding: 0;
}

h1 {
	color: #30AB58;
}


body {
        background-color: #84714F;
      }


input[type=text]
{
	padding:15px;
	font-size: 20px;
	width : 80%;
	box-sizing: border-box;
	margin-right: 0px;
	height: 100%;

}

.searchButton {
	/* float: right; */
	width: 20%; /* 20% without float puts it in a new line */
	height: 100%;
	box-sizing: border-box;
	background: #30AB58;
	color: white;
	border: none;
	vertical-align: top; /* look into what this does cause it fixed the issue */
}

.searchBar {
	display: inline;
	/* margin: 10px 0px; */
	/* margin-left: 10px; */
	/* margin-right: 10px; */
}

form {
	max-width: 500px;
	margin:auto;
	background-color: purple;
	height: 60px;
	margin-bottom: 20px;
	/* overflow: auto; */
}

.item_display{
	background-color: #36160c;
	max-width: 600px;
	margin: auto;
	border: 3px solid #30AB58;
	font-family: Verdana;
	text-align: center;
	margin-bottom: 20px;
}

.item_display h1
{
	padding: 10px;
}

/* .allowedStatus{ */
.discriptionDisplay {
	background-color: #E3D888;
	color: #36160c;
	padding: 10px;
}

/* .discriptionDisplay { */
.allowedStatus{
	background-color: #E2F1AF;
	color: #36160c;
	padding:10px;
	/* align-content: stretch; */
	/* vertical-align: middle; */
	display:flex;
}

.allowedStatus img {
	/* padding-top: 23px; */
	/* background-color: red; */
	vertical-align: middle;
}

.allowedStatus span {
	vertical-align: middle;
}

.allowedBox{
	/* display: inline; */
	/* padding: 0 10%; */
	flex: 1;
}

.categoryBtn {
	/* max-width: 100%; */
	max-width: 75px;
	min-height: 40px;
	flex: 1;
	border: none;
	color: white;
	background-color: #30AB58;
	/* margin:5px; */
}

.categoryRow{
	display: flex;
	justify-content: space-between;
	margin-bottom: 5px;
}
