*{
	margin:0;
	padding: 0;
}

.allowed-box {
	flex: 1;
}

.allowed-status {
	background-color: #E2F1AF;
	color: #36160c;
	display:flex;
	padding:10px;
}

.allowed-status img {
	vertical-align: middle;
}

.allowed-status span {
	vertical-align: middle;
}

body {
	background-color: #84714F;
}

.category-row {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.description-display {
	background-color: #E3D888;
	color: #36160c;
	padding: 10px;
}

form {
	margin:auto;
	margin-bottom: 20px;
	max-width: 600px;
}

h1 {
	color: #30AB58;
}

.item-display {
	background-color: #36160c;
	border: 3px solid #30AB58;
	font-family: Verdana;
	margin: auto;
	margin-bottom: 20px;
	max-width: 600px;
	text-align: center;
}

.item-display h1 {
	padding: 10px;
}

input[type=text] {
	box-sizing: border-box;
	font-size: 20px;
	height: 50px;
	width : 80%;
}

.not-selected-btn {
	background-color: #30AB58;
	border: none;
	color: white;
	flex: 1;
	min-height: 40px;
	max-width: 120px;
}

.search-bar {
	display: block;
	margin: auto;
	margin-bottom: 20px;
	margin-top: 20px;
	max-width: 80%;
}

.search-button {
	background: #30AB58;
	border: none;
	color: white;
	width: 20%;
	height: 50px;
	vertical-align: top; /* look into what this does cause it fixed the issue */
}

.selected-btn {
	background-color: #E2F1AF;
	border: none;
	color: #36160c;
	flex: 1;
	min-height: 40px;
	max-width: 120px;
}

#header {
	background-color: #36160c;
	display: block;
	margin: auto;
	color:white;
	max-width: 600px;
	text-align: center;
	margin-top: 10px;
}

#header h1 {
	color:white;
	padding:10px;
	font-size:3em;
}

#header p{
	color: #30AB58;
	padding:5px;
}
